<%- include('../includes/head.ejs') %>
    </head>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if(products.length>0) { %>
            <ul>
                <% products.forEach(p=>{ %>
                    <li>
                        <h1><%=p.title %></h1> 
                        <h2>Quantity -<%=p.cartitem.quantity %></h2>
                        <form action="/cart-delete-item" method="POST">
                            <input type="hidden" value="<%=p.id%>" name="productId">
                            <button class="btn" type="submit">Delete</button>
                        </form>
                    </li>
                    <% }) %> 
            </ul>
            <% } else { %>
                <h1>No Products In Cart</h1>
                <% } %>
    </main>
    <body>

        <%- include('../includes/end.ejs') %>